/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
     -fx-background-color: #29BCB7;
}
.signUp {
	-fx-background-color: #F8F8F8;
}
#btnSignUser {
	-fx-background-color: #29BCB7;
}
#btnSignUser:hover {
	-fx-background-color: #49E4E0;
}

#btnSignOwner {
	-fx-background-color: #8A8A8A;
}
#btnSignOwner:hover {
	-fx-background-color: #E2E2E2;
}